@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", Arial, sans-serif;
}

.button-primary{
    color: rgb(33, 33, 33);
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(252, 210, 0);
    cursor: pointer;
    box-shadow:0 2px 5px rgba(213, 217, 217, 0.5);
}
.button-primary:hover {
    background-color: rgb(247, 202, 0);
    border: 1px solid rgb(242, 194, 0);
  }