*{
    margin: 0;
    padding: 0;
    font-family: "Poppin", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: #fff ;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}
 .container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.container nav img{
    margin: 10px;
    width: 160px;
}

.container nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px

}
.container nav ul  li {
    list-style: none;
    margin: 10px 20px;
}
.container nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}
.container nav ul li a:after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;

}
.container nav ul li a:hover::after{
    width: 100%;
}

#header .header-text{
    padding: 5px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;

}
#header .header-text .content{
    width: 70%;
    flex-grow: 1;

}
#header .header-text .content h1{
    font-size: 48px;
}
#header .header-text .content h1:nth-child(2){
    padding: 20px 0;
    font-size: 48px;
}
#header .header-text .content p{
    font-size: 17px;
    padding: 20px 0;
    padding-bottom: 0px;
}
#header .header-text .user-photo{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background-image:url("/Portfoliio/images1/user.jpg") ;
    background-size: cover;
    background-position: right;
    flex-shrink: 0;

}
#header .header-text .button{
    background-color: #FF4500;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    padding:  10px 20px;
    transition: background-color 0.3s ease;
}

#header .header-text .button:hover{
    background-color: #FF6347;
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
    transform: scale(1.05);
}
#about .container{
    width: 100%;
    height: 100vh;
}
#about .container .title h1{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

#about .container .subTitle{
    width: 80%;
    margin-top: 20px ;
    margin-bottom: 30px;
}
#about .container .subTitle h2{
    
    margin: 10px 0 10px 0;
    font-size: 30px;
    font-weight: 550;
    color: #fff;

}
#about .container .subTitle p{
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    color: #fff;

}

#about .container .subTitle-1{
    width: 80%;
    margin-top: 20px ;
}

#about .container .seperator{
    content: '';
    height: 1px;
    width: 100%;
    background: #ff004f;

}

#about .container .subTitle-1 h2{
    margin: 20px 0 10px 0;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
#about .container .subTitle-1 h3{
    margin: 5px 0 5px 0;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

#about .container .subTitle-1 .frontskill{
    margin: 20px;
    display: flex;
    gap: 50px;
}

#about .container .subTitle-1 .frontskill div img{
    width: 120px;
}

#about .container .subTitle-1 .frontskill div{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
#about .container .subTitle-1 .frontskill div span{
    margin: 5px 0 5px 0;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    
}

#contact .container .contact-left .title h1{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
#contact .container .contact-left  p{
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

#contact .container .contact-left  a{
    padding: 6px;
   
}
#contact .container .contact-left  a img{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    fill: #595bd4;
}