@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

*{
 margin: 0;
 padding: 0;
}

.navbar {
    padding: 5px;
    width: 80vw;
    height: 15vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 35%;
    align-items: center;
}
.logo img{
    height: 7.8vh;
}

.navlist ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.navlist ul li{
    list-style: none;

}
.navlist ul li select{
    font-family: "poppin" , sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    transition: transform , 1s, ease-in , 0.2s;

}
.translate {
    transform: translateY(-50%);
    color: rgb(163, 216, 216);
}

 li select  option :hover{
    transition: transform, 1s, ease-in , 0.2s;
    cursor: pointer;
}
